name: Test User

on: 
  pull_request:
    paths:
    - 'user/**'


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Test user
        run: | 
          cd user
          npm install
          npm run test
  checkQuality:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Check quality
        run: echo "SonarCloud"