name: Test All service
on: 
  push:
    branches:
      - dev

jobs:
  testCompany:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Test company
        run: | 
          cd company
          npm install
          npm run test
  testUser:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Test user
        run: | 
          cd user
          npm install
          npm run test
  checkQualityCompany:
    runs-on: ubuntu-latest
    needs: [testCompany, testUser]
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@v2
        env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: company

  checkQualityJob:
    runs-on: ubuntu-latest
    needs: [testCompany, testUser]
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@v2
        env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: job

  checkQualityUser:
    runs-on: ubuntu-latest
    needs: [testCompany, testUser]
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@v2
        env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: user
